".source.c.scumm":
  "include scummVars6":
    prefix: "include scummVars6"
    body: "#include <scummVars6.s>$1"
  "include scummVars7":
    prefix: "include scummVars7"
    body: "#include <scummVars7.s>$1"
  scummVars6:
    prefix: "scummVars6"
    body: "#include <scummVars6.s>$1"
  scummVars7:
    prefix: "scummVars7"
    body: "#include <scummVars7.s>$1"
